@import url('./variables.css');
@import url('./style.css');


.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 22px;
}

.chart-container {
    position: relative;
    height: 220px;
    width: 100%;
}

.chart-container canvas {
    max-height: 100% !important;
    width: 100% !important;
}
